@mixin text-colors($colors) {
  @each $colorName, $color-value in $colors {
    .text-#{$colorName} {
      color: $color-value !important;
    }
  }
}

$colors: (
  'red': $red,
  'purple': $purple,
  'green': $green,
  'gray': $gray-500,
  'dark': $gray-700,
  'black': $black,
  'btn-black': $btn-black,
);

@include text-colors($colors);

@mixin background-colors($colors) {
  @each $colorName, $color-value in $colors {
    .bg-#{$colorName} {
      background-color: $color-value !important;
    }
  }
}
@include background-colors($colors);
