// $primary: #0071c2;
// $secondary: #003580;
// $purple: #612691;
// $green: #008009;
// $sky: #ebf3ff;

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/variables';
// @import './background.scss';
// @import './padding.scss';
@import './text.scss';
// @import './column.scss';
@import './color.scss';

// .bg-dark-blue {
//   background-color: $dark-blue !important;
// }

.border-none {
  border: none;
}
#root {
  background-color: $dark;
}

.swiper-slide {
  padding: 30px 0;
}
.swiper-img {
  transition: transform 0.5s ease;
}
.swiper-img:hover {
  transform: scale(1.1);
}
